body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.main {
  background-color: rgba(236, 236, 236, 255);
  height: 50vh;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 2%;
}

.main p {
  font-size: medium;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.main h1 {
  line-height: 0;
  font-size: 4rem;
}

.content {
  height: 45vh;
  width: 45vh;
  background-color: rgba(252, 194, 0, 255);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  border-radius: 6%;
  padding: 1rem;
  margin-top: 6vh;
  color: white;
  font-size: large;
  cursor: pointer;
}
